<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- https://crunchify.com/how-to-build-restful-service-with-java-using-jax-rs-and-jersey/ -->
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.scc.speiseplan.servlet</param-value> <!-- https://stackoverflow.com/questions/18409088/severe-missing-dependency-for-field-private-org-glassfish-jersey-server-wadl -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/endpoint/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>com.scc.speiseplan.servlet.ServletAdd</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>getUser</servlet-name>
        <servlet-class>com.scc.speiseplan.servlet.loginEndpoint2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>getUser</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
-->

<!--
    wenn https aber prinzipiell dürfte das gar ncht benötigbar sein da das Zertifikat schon von caddy abgefangen wird
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>speiseplan</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
-->

    <!-- Jersey Servlet configurations -->
    <!--
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.scc.speiseplan.servlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    -->
</web-app>

